/* Universal Selector applies to everything */
/*
* {

}
*/


body {
    background-color: aliceblue;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: , Helvetica;
}

 /* To ensure media is never larager than its responsive container */
 img,
 picture,
 video {
   max-width: 100%;
 }
 
/* Styling of Images on Site */
  img{
    display: flex;
    flex-wrap: wrap;
    flex: initial;
    justify-content: space-evenly;
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
  }
  
 
.Daycare img {
  flex-direction:row;
}


/* the way you start to make your site fluid, is by using percentages for your height and width instead of static pixel sizes. This way when someone resizes their browser window, your html tags will shrink or expand accordingly instead of breaking the page. */  
/*
div {
    width: 25%;
    height: 50%;
  }
  */

  /* Any button over which the user's pointer is hovering */
button:hover {
  color: blue;
}

  /*
  @media screen and (max-width: 780px) {
    div{
        background-color: orange
    }
  } */


.form {
    display: flex;
    justify-content: space-between;
    
}

/* Footer Styling */
footer {
font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;
font-weight: bold
}